# Ignore everything
*

# Toolchain
# > Git
!.gitignore
!.gitattributes
# > CI
!.github/
!.github/**
# > LLVM
!.clang-format
!.clang-tidy
!.clangd
# > Static analysis
!.cppcheck
# > Build profiling
!.clang-build-profiler

# Build
# > CMake
!CMakePresets.json
!CMakeLists.txt
!cmake/
!cmake/**
# > Scripts
!bash/
!bash/**
!actions.sh

# Docs
# > Config
!mkdocs.yml
# > Content
!docs/
!docs/**
!LICENSE.md

# Code
# > Executable
!include/
!include/**
!source/
!source/**
# > Resources
!resources/
!resources/**
